
Flask==1.1.1
gensim
Jinja2==2.11.3
joblib==0.13.2
nltk
lazy-object-proxy==1.4.2

numpy==1.16.5
numpydoc==0.9.1

pandas==0.25.1
pandocfilters==1.4.2
pickleshare==0.7.5
pyflakes==2.1.1
requests==2.22.0

scikit-learn==0.21.3
scipy==1.4.1

